@page "/dndhelper"
<HeaderNavBar></HeaderNavBar>
<body class="DarkBackground">
    <h3 class="HeaderText">DND Helper</h3>
    <div id="diceRoller">
        <p>
            <h3 class="SubHeaderText">Dice roller</h3>
            <span class="MainText">
                Number of Dice to roll:<input type="text" @bind="_numDiceToRollString"> <br/>  
                Number of sides:<input type="text" @bind="_inputRollNumberString" val> <br/>
                <button class="btn btn-primary" @onclick="Roll">RollDice</button>
                <p role="status"> your rolled number is: @_numberRolled</p>
            </span>
        </p>
    </div>
</body>

@code {
    private string _numDiceToRollString = "";
    private string _inputRollNumberString = "";
    private long _numberRolled = 0;
    
    private void Roll()
    {
        var random = new Random(int.Parse(DateTime.Now.ToString("hhmmss")));
        _numberRolled = 0;
        if (long.TryParse(_numDiceToRollString, out var numDice) 
            && long.TryParse(_inputRollNumberString, out var inputRoll))
        {
            for (var i = 0; i < numDice; i++)
                _numberRolled += random.NextInt64(0, inputRoll);
        }
        StateHasChanged();
    }
}
