<link href="/css/navBar.css" rel="stylesheet">
<div class="menu">
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">
            Nico Judge
            <br/><h4 class="SubHeaderText">Full Stack Software Engineer</h4>
        </div>

        <!-- NAVIGATION MENU -->
        <ul class="nav-links">

            <!-- USING CHECKBOX HACK -->
            <div class="hidden">
                 <input type="checkbox" id="checkbox_toggle" />
                 <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            </div>
         

          <!-- NAVIGATION MENUS -->
          <div class="menu">

            <li><a class="navLink" href="/">Home</a></li>

            <li class="services">
              <a href="/">Tools</a>

              <!-- DROPDOWN MENU -->
              <ul class="dropdown">
                    <li><a class="navLink" href="/TestingTools">Testing Tools</a></li>
                                        <li><a class="navLink" href="/dndhelper">DnD Helper</a></li>
              </ul>
            </li>
          </div>
        </ul>
    </nav>
</div>
<div id="NavBar">
    <ul class="navList">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

@code {
    
}