<link href="/css/navBar.css" rel="stylesheet">
<div class="NavBarDarkBackground">
   
    <div class="menu NavBarDarkBackground">
        <nav class="navbar">
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
    
                <!-- USING CHECKBOX HACK -->
                <div class="hidden">
                    <input type="checkbox" id="checkbox_toggle"/>
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                </div>
    
                <!-- NAVIGATION MENUS -->
                 <div class="logo">
                     <h4 class="MainText">Nico Judge</h4>
                     <h4 class="SubHeaderText">Full Stack Software Engineer</h4>
                    </div>
                <div class="menu">
                    <li><a class="navLink" href="/">Home</a></li>
                    <li class="services"><a href="/">Tools</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a class="navLink" href="/TestingTools">Testing Tools</a></li>
                            <li><a class="navLink" href="/dndhelper">DnD Helper</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</div>


@code {
     
}