.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table, th, td {
  border: 1px solid #ffffff;
}

a{
  color:   #839496;
}

body{
  background: #073642 ;
}

.orangeText{
  color: #cb4b16;
}

.App-link {
  color: #61dafb;
}
