a{
  color: #6c71c4;
}

body{
  background: #073642 ;
}


.App {
  text-align: center;
}

.centerCol{
  align-content: center;
}

.location{
  margin:0;
  padding:0;
  align-content: center;
  font-size: 30px;
  color: #b58900;
}

.header{
  font-size: 50px;
  margin:0;
  padding:0;
  align-content: center;
  color: #657b83;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.RepoTable {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffffff;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.bioPicture{
  margin-left: auto;
  margin-right: auto;
}

.scaledImage {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.gitIcon{
  color: #eee8d5;
  font-size: 40px;
}

.emailIcon{
  color: #b58900;
  font-size: 40px;
}

.linkedInIcon{
  color: #268bd2;
  font-size: 40px;
}

.orangeText{
  color: #cb4b16;
}

.App-link {
  color: #61dafb;
}

.bio{
  color:#93a1a1;
}

.tableHeader{
  color: #839496;
}